<div class="d-flex justify-content-center align-items-center base">
  <%= link_to 'CADASTRO', new_form_path, class:"btn btn-ghost" %>
</div>
<div>
  <p>** Marcia pode usar esse email e senha. **</p>
  <p>Email = marcia@email.com</p>
  <p>Senha = Marcia123</p>
</div>
